<main class="main-container">
  <div class="participants">
    <h1 class="title2 dark-01"><%= t("views.participants.title") %></h1>
    <div class="tab-bar">
      <%= link_to t("views.participants.tab_bar.all"), participants_path, class: "s-paragraph tab-bar--link #{"current" if request.path == participants_path}" %>
      <%= link_to t("views.participants.tab_bar.schools"), participants_schools_path, class: "s-paragraph tab-bar--link #{"current" if request.path.include?(participants_schools_path)}" %>
      <%= link_to "Par projet", participants_projects_path, class: "s-paragraph tab-bar--link #{"current" if request.path.include?(participants_projects_path)}" %>
      <%= link_to t("views.participants.tab_bar.companies"), participants_companies_path, class: "s-paragraph tab-bar--link #{"current" if request.path.include?(participants_companies_path)}" %>
      <%= link_to t("views.participants.tab_bar.other_companies"), participants_other_companies_path, class: "s-paragraph tab-bar--link #{"current" if request.path.include?(participants_other_companies_path)}" %>
    </div>
    <%= simple_form_for :filters,
                        url: participants_path,
                        method: :get,
                        data: {
                          controller: "submit"
                        } do |filter| %>
      <div class="partcipants__container">
        <div class="participants__container--second">
          <div class="participants__side-filter">
            <%= link_to "Supprimer les filtres", participants_path, class: "xs-paragraph-bold" %>
            <%= render "participants/_filters/skills_form", active_filter: false, f: filter, skills: @skills %>
            <%= render "participants/_filters/availabilities_form", active_filter: false, f: filter, availabilities: @availabilities %>
            <%= render "participants/_filters/take_trainee_form", active_filter: false, f: filter %>
            <%= render "participants/_filters/propose_workshop_form", active_filter: false, f: filter %>
          </div>
          <div class="participants__list">
            <% if @participants.blank? %>
              <div class="info-message warning">
                <%= show_svg "warning.svg", class: "icon-24x24" %>
                <p class="xs-paragraph">Aucun participant n'a été trouvé pour votre recherche.</p>
              </div>
            <% else %>
              <%= render(Participant::Card::CardComponent.with_collection(@participants, current_user:)) %>
            <% end %>
          </div>
        </div>
      </div>
    <% end %>
  </div>
</main>
