<%= simple_form_for school_member.user,
                    url: school_admin_panel_school_members_update_school_level_path(school_member),
                    method: :put,
                    html: {
                      id: "#{dom_id(school_member)}_update_school_level",
                      class: ""
                    } do |member_fields| %>
  <div data-controller="nested-form-multi-select" data-nested-form-multi-select-index-value="NEW_USER_SCHOOL_LEVEL_RECORD">
    <template data-nested-form-multi-select-target="template">
      <%= member_fields.simple_fields_for :user_school_levels, UserSchoolLevel.new, child_index: 'NEW_USER_SCHOOL_LEVEL_RECORD' do |ff| %>
        <%= ff.input :school_level_id, wrapper: false, label: false %>
      <% end %>
    </template>
    <div data-nested-form-multi-select-target="container" class="hidden">
      <%= member_fields.simple_fields_for :user_school_levels do |ff| %>
        <div>
          <%= ff.input :school_level_id, wrapper: false, label: false %>
          <%= ff.input :_destroy, wrapper: false, label: false, as: :hidden %>
        </div>
      <% end %>
    </div>
    <%= member_fields.association :school_levels,
          collection: school_member.school.school_levels.map { |school_level| [school_level.full_name_without_school, school_level.id] },
          label: false,
          autofocus: true,
          input_html: {
            class: "mini-select",
            disabled: school_member.owner? || school_member.pending?,
            data: {
              "nested-form-multi-select-target": "miniMultiSelect"
            }
          } %>
  </div>
<% end %>
