<%= turbo_frame_tag "new-modal" do %>
  <%= render(Ui::Modal::Header::HeaderComponent.new(title: t(".title"), back_link: new_assign_badge_stepper_third_step_path)) %>
  <div class="stepper-container mb-0">
    <div class="stepper completed">
      <span class="bubble">
        <%= render(Ui::Icon::IconComponent.new(icon: "new/check", size: "16", color: "white")) %>
      </span>
    </div>

    <div class="stepper completed">
      <span class="bubble">
        <%= render(Ui::Icon::IconComponent.new(icon: "new/check", size: "16", color: "white")) %>
      </span>
    </div>

    <div class="stepper current">
      <span class="bubble">
        <%= render(Ui::Icon::IconComponent.new(icon: "new/check", size: "16", color: "white")) %>
      </span>
    </div>

    <div class="stepper">
      <span class="bubble">
        <%= render(Ui::Icon::IconComponent.new(icon: "new/check", size: "16", color: "white")) %>
      </span>
    </div>
  </div>

  <p class="s-paragraph grey-01 mb-8px"><%= raw t(".description") %></p>
  <p class="s-paragraph grey-03"><%= t(".description_2") %></p>
  <p class="s-paragraph grey-03 mb-16px"><%= t(".description_3") %></p>

  <%= simple_form_for @assign_badge, url: assign_badge_stepper_fourth_step_index_path, method: :post do |f| %>
    <%= f.input :badge_skill_ids, as: :hidden %>
    <%= f.input :domain_ids,
                as: :check_boxes,
                label: t("activemodel.attributes.assign_badge_stepper/fourth_step.domains"),
                collection: @domains_collection,
                include_hidden: false,
                item_label_class: 'button-check fs-12' %>

    <%= f.input :expertise_ids,
                label: t("activemodel.attributes.assign_badge_stepper/fourth_step.expertises"),
                collection: @expertises_collection,
                as: :check_boxes,
                include_hidden: false,
                item_label_class: 'button-check fs-12' %>

    <%= f.submit t('.actions.submit'), class: "button button--primary button--md button--full" %>
  <% end %>
<% end %>
