<div class="auth__container">
  <div class="auth__side-image"></div>
  <div class="auth__wrapper">
    <h2 class="title2 dark-01"><%= t("views.company.new.title") %></h2>
    <%= simple_form_for @company, data: { controller: "registration-slide select-search" }, html: { class: "splide" } do |f| %>
      <div class="splide__track form">
        <div class="splide__list">
          <div class="splide__slide form">
            <%= render "form", f: f %>
          </div>
          <div class="splide__slide form">
            <%= render "form_skills", f: f %>
          </div>
          <div class="splide__slide form">
            <%= render "form_network", f: f %>
          </div>
        </div>
        <div class="splide__arrows splide__arrows--ltr form__wrapper--2col gap-15px">
          <button class="splide__arrow splide__arrow--prev btn-secondary" type="button" aria-label="Previous slide" aria-controls="splide01-track">
            Retour
          </button>
          <button class="splide__arrow splide__arrow--next btn-primary__full-width" type="button" aria-label="Next slide" aria-controls="splide01-track" data-registration-slide-target="submitButton">
            Continuer
          </button>
        </div>
      </div>
    <% end %>
  </div>
</div>
