<div class="admin-panel__member__card" id=<%= dom_id(@school_member) %>>
  <div class="admin-panel__member__card__info">

    <h3 class="s-paragraph-bold dark-01"><%= @member.full_name %></h3>

    <%= render Common::Tag::TagComponent.new(color: helpers.color_for_user_role(@member.role)) do %>
      <%= t(".roles.#{@member.role}") %>
    <% end %>

    <%= simple_form_for @school_member,
                      url: school_admin_panel_school_members_update_admin_path(@school_member),
                      method: :put,
                      data: {
                        controller: "submit",
                        submit_target: "form"
                      },
                      html: {
                        class: "",
                        id: "#{dom_id(@school_member)}_update_admin",
                      } do |f| %>

      <%= f.input :admin,
                as: :select,
                label: false,
                include_blank: false,
                collection: [["Administrateur", true], ["Utilisateur rattaché", false]],
                input_html: {
                  class: "mini-select",
                  disabled: @school_member.owner? || @school_member.pending?,
                  data: {
                    action: "change->submit#submit"
                  }
                } %>
    <% end %>

    <%= render "school_level_form", school_member: @school_member %>

  </div>

  <div class="admin-panel__member__card__actions">
    <%= simple_form_for @school_member,
                      url: school_admin_panel_school_members_update_can_access_badges_path(@school_member),
                      method: :put,
                      data: {
                        controller: "submit",
                        submit_target: "form"
                      },
                      html: {
                        class: "",
                        id: "#{dom_id(@school_member)}_update_can_access_badges",
                      } do |f| %>
      <%= f.input :can_access_badges,
                as: :boolean,
                wrapper: :switch,
                label: "Badges",
                label_html: {
                  for: "#{dom_id(@school_member)}_can_access_badges"
                },
                input_html: {
                  id: "#{dom_id(@school_member)}_can_access_badges",
                  disabled: @school_member.owner || @school_member.pending? || @school_member.admin?,
                  data: {
                    action: "change->submit#submit"
                  }
                } %>
    <% end %>

    <%= simple_form_for @school_member,
                      url: school_admin_panel_school_members_update_confirmation_path(@school_member),
                      method: :put,
                      data: {
                        controller: "submit",
                        submit_target: "form"
                      },
                      html: {
                        class: "",
                        id: "#{dom_id(@school_member)}_update_confirmation",
                      } do |f| %>
      <%= f.input :status,
                as: :boolean,
                wrapper: :switch,
                required: false,
                label: "Rattaché",
                label_html: {
                  for: "#{dom_id(@school_member)}_confirmation"
                },
                input_html: {
                  id: "#{dom_id(@school_member)}_confirmation",
                  checked: @school_member.confirmed?,
                  disabled: @school_member.owner?,
                  data: {
                    action: "change->submit#submit"
                  }
                } %>
    <% end %>

    <%= button_to school_admin_panel_school_member_path(@school_member),
                method: :delete,
                class: "btn-trash grey-02",
                disabled: @school_member.owner?,
                form_class: "admin-panel__member__card__delete" do %>
      <%= helpers.show_svg "trash.svg" %>
    <% end %>

  </div>

</div>
