<div class="admin-panel__member__card" id=<%= dom_id(@company_member) %>>
  <div class="admin-panel__member__card__info">

    <h3 class="s-paragraph-bold dark-01"><%= @member.full_name %></h3>

    <%= render Common::Tag::TagComponent.new(color: helpers.color_for_user_role(@member.role)) do %>
      <%= t(".roles.#{@member.role}") %>
    <% end %>

    <%= simple_form_for @company_member,
                      url: company_admin_panel_company_members_update_admin_path(@company_member),
                      method: :put,
                      data: {
                        controller: "submit",
                        submit_target: "form"
                      },
                      html: {
                        class: "",
                        id: "#{dom_id(@company_member)}_update_admin",
                      } do |f| %>

      <%= f.input :admin,
                as: :select,
                label: false,
                include_blank: false,
                collection: [["Administrateur", true], ["Utilisateur rattaché", false]],
                input_html: {
                  class: "mini-select",
                  disabled: @company_member.owner? || @company_member.pending?,
                  data: {
                    action: "change->submit#submit"
                  }
                } %>
    <% end %>
  </div>

  <div class="admin-panel__member__card__actions">
    <% if contracted? %>
      <%= simple_form_for @company_member,
                      url: company_admin_panel_company_members_update_can_access_badges_path(@company_member),
                      method: :put,
                      data: {
                        controller: "submit",
                        submit_target: "form"
                      },
                      html: {
                        class: "",
                        id: "#{dom_id(@company_member)}_update_can_access_badges",
                      } do |f| %>
        <%= f.input :can_access_badges,
                as: :boolean,
                wrapper: :switch,
                label: "Badges",
                label_html: {
                  for: "#{dom_id(@company_member)}_can_access_badges"
                },
                input_html: {
                  id: "#{dom_id(@company_member)}_can_access_badges",
                  disabled: @company_member.owner || @company_member.pending? || @company_member.admin?,
                  data: {
                    action: "change->submit#submit"
                  }
                } %>
      <% end %>

      <%= simple_form_for @company_member,
                        url: company_admin_panel_company_members_update_create_project_path(@company_member),
                        method: :put,
                        data: {
                          controller: "submit",
                          submit_target: "form"
                        },
                        html: {
                          class: "",
                          id: "#{dom_id(@company_member)}_update_can_create_project",
                        } do |f| %>

        <%= f.input :can_create_project,
                  as: :boolean,
                  wrapper: :switch,
                  label: "Projet",
                  label_html: {
                    for: "#{dom_id(@company_member)}_can_create_project"
                  },
                  input_html: {
                    id: "#{dom_id(@company_member)}_can_create_project",
                    disabled: @company_member.owner || @company_member.pending? || @company_member.admin?,
                    data: {
                      action: "change->submit#submit"
                    }
                  } %>
      <% end %>
    <% end %>

    <%= simple_form_for @company_member,
                      url: company_admin_panel_company_members_update_confirmation_path(@company_member),
                      method: :put,
                      data: {
                        controller: "submit",
                        submit_target: "form"
                      },
                      html: {
                        class: "",
                        id: "#{dom_id(@company_member)}_update_confirmation",
                      } do |f| %>
      <%= f.input :status,
                as: :boolean,
                wrapper: :switch,
                required: false,
                label: "Rattaché",
                label_html: {
                  for: "#{dom_id(@company_member)}_status"
                },
                input_html: {
                  id: "#{dom_id(@company_member)}_status",
                  checked: @company_member.confirmed?,
                  disabled: @company_member.owner?,
                  data: {
                    action: "change->submit#submit"
                  }
                } %>
    <% end %>

    <%= button_to company_admin_panel_company_member_path(@company_member),
                method: :delete,
                class: "btn-trash grey-02",
                disabled: @company_member.owner?,
                form_class: "admin-panel__member__card__delete" do %>
      <%= helpers.show_svg "trash.svg" %>
    <% end %>

  </div>

</div>
