<!DOCTYPE html>
<html>
  <head>
    <%= favicon_link_tag "favicon.png" %>
    <%= render  "shared/meta_tags" %>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= render "shared/css-cdn" %>
    <%= javascript_importmap_tags %>
  </head>
  <body>
    <%= turbo_frame_tag "flash" do %>
      <%= render "shared/flashes" %>
    <% end %>
    <%= render(Common::Navbar::NavbarComponent.new(current_user)) unless params[:public_access] %>
    <%= render(Ui::Modal::ModalComponent.new) %>
    <%= turbo_frame_tag "modal" %>
    <%= yield %>
    <%= render "shared/footer" unless params[:public_access] %>
  </body>
</html>
